.input-field{
    display: flex;
    width: 100% !important;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

form img{
    min-width: 300px;
    height: auto;
}

@media screen and (max-width:350px) {
    .input-field{
        max-width: 80% !important;
        width: 100%;
    }
}